include ../config
include ../docsConfig
block config

append config
  - var prismjs = prismjs || false
  - var highlightjs = highlightjs || false
  - var bsbjs = bsbjs || false
  - var bodyClass = bodyClass || ''
  - var cssFile = "mojo"

doctype html
html(lang= lang)
  head
    meta(charset="UTF-8")
    title= title
    meta(name="description", content= metaDesc )
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    link(rel="icon" type="image/png", href= path + "favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png", href= path + "favicon-16x16.png" sizes="16x16")
    link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
    meta(name="author" content="Adapted from various BS5 sources by Derek Scott of Huement.com")
    meta(name="generator" content="Mojo")
    link(rel="canonical" href="/templates/"+slug+"/")
    link(href= path + "css/" + cssFile + ".css?token=" + stamp, rel="stylesheet")

    if prismjs
      link(rel="stylesheet", href=path+"www/prismjs/prism.css" type="text/css" id="prism_css")
    if highlight
      link(rel="stylesheet", href=path+"demo/css/highlight.css" type="text/css" id="highlight_css")

    block ExtraHeader

body(class=bodyClass)
  div(class= superClass + " templatePage")
    block content

  if bsbjs
    script(src=path+"www/js/bootstrap.bundle.min.js")
